---
import BlogPostList from '../../components/BlogPostList.astro'
import SectionHeader from '../../components/UI/SectionHeader'
import BaseWrapper from '../../layouts/BaseWrapper.astro'
---

<BaseWrapper>
  <main class="py-[7rem] flex flex-col items-center">
    <SectionHeader header="_blog" />
    <BlogPostList />
  </main>
</BaseWrapper>
