---
import BlogPostList from '../../components/BlogPostList.astro'
import SectionHeader from '../../components/UI/SectionHeader'
import BaseWrapper from '../../layouts/BaseWrapper.astro'
---

<BaseWrapper>
  <section class="fullscreen-section min-h-screen py-[7rem] flex flex-col items-center">
    <SectionHeader header="_blog" />
    <BlogPostList />
  </section>
</BaseWrapper>
