---
import BlogPostList from '../../components/BlogPostList.astro'
import BaseWrapper from '../../layouts/BaseWrapper.astro'
---

<BaseWrapper>
  <h1 class="text-center pt-56 text-5xl">Blog</h1>
  <BlogPostList />
</BaseWrapper>
