@reference "tailwindcss";
.project {
  @apply grid grid-cols-1 md:grid-cols-2 gap-2 items-center;
  grid-auto-flow: row;
}

.project-img {
  @apply md:col-start-1;
  grid-row: 1;
}

.project-info {
  @apply md:col-start-2 md:pl-[4rem];
  grid-row: 1;
}

.project--reverse .project-img {
  @apply md:col-start-2 md:justify-self-end;
}

.project--reverse .project-info {
  @apply md:col-start-1 md:pr-[4rem] md:pl-0;
}
