*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Revert text color */
    -webkit-text-fill-color: white !important;
    color: white !important;
    caret-color: white !important;

    /* Revert background color */
    transition: background-color 5000s ease-in-out 0s;
  }
}

@theme {
  --breakpoint-sm: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-large: 1440px;

  /* Font sizes */
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 4rem;

  /* Colors */
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-black: #000;
  --color-white: #fff;
  --color-blog-black: #333333;
  --color-blog-red: #b9301c;
  --color-meetup-blue: #00455d;
  --color-gray-750: #3f495a;
  --color-gray-850: #222733;
  --color-gray-c7: #c7c7c7;
  --color-gray-dark: #333333;
  --color-gray-999: #999999;
  --color-gray-900-spotify: #121212;
  --color-gray-800-spotify: #181818;
  --color-gray-700-spotify: #282828;
  --color-blog-blue: #232339;
  --color-peacoat: #4f567c;
  --color-space-cadet: #1e2952;
  --color-azure: #3b82f6;
  --color-md-purple: #a478e8;

  --secondary-glow: conic-gradient(
    from 10deg at 50% 50%,
    #eb7494 0deg,
    #ae77b2 55deg,
    #97b5da 120deg,
    #0099ca 160deg,
    transparent 360deg
  );

  --third-glow: conic-gradient(
    from 90deg at 50% 50%,
    #ff8b7e 0deg,
    #e24e6b 160deg,
    #7ed2da 120deg,
    #8bdce0 55deg,
    transparent 360deg
  );
}

html {
  font-family: 'Fira Mono', monospace;
  color: #e5e9f0;
}

body::before,
body::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.8;
}

body::before {
  background: var(--third-glow);
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
  margin-left: -200px;
  filter: blur(90px);
  top: calc(50vh - 50vw / 2);
  left: calc(50vw - 50vw / 2);
  animation: animateBefore 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 500px;
  height: 700px;
  filter: blur(90px);
  top: calc(50vh - 50vw / 2);
  left: calc(50vw - 50vw / 2);
  animation: animateAfter 7s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

body {
  background-color: var(--catppuccin-color-base);
  min-height: 100vh;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}

footer {
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}
