@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Fira Code', monospace;
  color: #e5e9f0;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  height: 100%
}

article p {
  @apply text-lg md:text-2xl my-6 mx-auto font-thin;
}

article p:has(img) {
  @apply flex justify-center;
}

article p a {
  @apply text-indigo-500;
}

article img {
  @apply mx-auto mb-12;
}

article hr {
    --n:3;
    width: 8rem;
    height:5px;
    margin:4rem auto;
    border: none;
    background:radial-gradient(circle closest-side,#EAF6F6 98%,#0000) 0/calc(100%/var(--n)) 100%;
}

article pre {
  margin: 2rem auto;
  padding: 1rem 2.5rem;
}

article ul {
  margin: 0.5rem auto;
  padding: 1rem 2.5rem;
  @apply list-disc;
}

article ul li {
  padding: 0.5rem 2.5rem;
  @apply list-disc;
}

article h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

article h2 {
  font-weight: 700;
  font-size: 2rem;
}

article h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0 0 0;
}

article h4 {
  font-size: 1rem;
  font-weight: 700;
}

article h5 {
  font-weight: 700;
}

article h6 {
  font-weight: 700;
}

article .copy-code {
  position: absolute;
  top: 0;
  right: 0;
  @apply bg-indigo-500 text-white;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

article .copy-code:hover {
  background-color: #312e81;
}

article code {
  @apply bg-[#1a1b26] text-white py-1;
  font-size: 1.5rem;
  border-radius: 0.25rem;
}

article blockquote {
  @apply flex justify-center mx-4 mb-12 md:mx-20 lg:mx-32;
}

article blockquote p {
  @apply inline text-gray-400 text-lg md:text-2xl font-thin;
  display: inline;
}

@media (max-width: 640px) {
  article p {
    font-size: 0.8rem;
    margin: 1rem auto;
  }

  article h1 {
    font-size: 1rem;
    margin: 1rem auto;
  }

  article h2 {
    @apply text-[1rem] font-bold;
  }

  article h3 {
    @apply text-[0.8rem] font-bold;
  }

  .astro-code {
    @apply py-[0.5rem]  px-[0.5rem] my-4;
    line-height: 0.8rem;
  }

  .line {
    @apply text-[0.8rem];
  }


  btn {
    @apply flex justify-center
  }

  article .copy-code {
    padding: 0.1rem 0.2rem;
    font-size: 0.4rem;
    line-height: 1rem;
  }

  article table {
    @apply table-auto;
  }

  article table thead {
    @apply text-white text-[0.5rem] font-bold text-left;
  }

  article table tbody tr td {
    @apply text-[0.3rem] font-thin;
  }

  article ul {
    padding: 0.2rem 1rem;
  }

  article ul li {
    @apply text-[0.5rem] font-thin px-2;
  }

  article img {
    @apply mx-auto mb-4;
    width: 100%;
  }

}