@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Fira Code', monospace;
  color: #e5e9f0;
  scroll-padding-top: 8rem;
  scroll-behavior: smooth;
  height: 100%
}

@media (min-width: 640px) {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-5xl font-medium;
  }

  h3 {
    @apply text-4xl font-medium;
  }

  btn {
    @apply flex justify-center
  }

}