---
import BaseWrapper from '../layouts/BaseWrapper.astro'
---

<BaseWrapper>
  <div class="container mx-auto px-4 md:px-0 py-24 lg:py-40 flex justify-center items-center">
    <div class="text-2xl flex flex-col justify-center items-center">
      <h1 class="404-text text-9xl rotate-180">404</h1><br />
      <h2 class="mt-14">You're Lost ...</h2>
    </div>
  </div>
</BaseWrapper>
