---
import BaseWrapper from '../layouts/BaseWrapper.astro'
---

<BaseWrapper>
  <div class="container mx-auto px-4 md:px-0 py-24 lg:py-40 flex justify-center items-center">
    <h1 class="text-6xl">Welcome to Cosco, I love you</h1>
  </div>
</BaseWrapper>

<style>
  section {
    margin: 8rem 0;
  }

  @media screen and (min-width: 668px) {
    section {
      margin: 12rem 0;
    }
  }

  section:last-of-type {
    margin-top: 12rem;
    margin-bottom: 0;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
  }

  .showcase {
    max-width: calc(4 * 4rem + 3 * 4rem);
  }

  .showcase svg {
    width: 4rem;
    height: 4rem;
  }

  .hover {
    @apply hover:text-gray-200;
  }

  .text-gradient {
    background: -webkit-linear-gradient(90deg, #a478e8 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
