---
import BaseWrapper from '../layouts/BaseWrapper.astro'
import BlogPostList from '../components/BlogPostList.astro'
import MainSection from '../components/Sections/MainSection'
import AboutSection from '../components/Sections/AboutSection'
import {ContactForm} from '../components/ContactForm'
import SectionHeader from '../components/UI/SectionHeader'
import BlogSection from '../components/Sections/blogSection'
---

<BaseWrapper>
  <main class="snap-y snap-mandatory h-screen overflow-y-scroll overflow-auto hide-scrollbar">
    <MainSection client:only="react" />

    <AboutSection client:only="react" />

    <!-- <BlogSection client:only="react" /> -->

    <ContactForm client:only="react" />
  </main>
</BaseWrapper>
