---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

---

<section class="relative bg-white">
    <img
        class="absolute  object-cover w-full h-screen opacity-25 sm:opacity-100"
        src="https://images.unsplash.com/photo-1453950357290-38ae7a99541f"
    />

    <div
        class="hidden h-screen sm:block sm:inset-0 sm:absolute sm:bg-gradient-to-r sm:from-white sm:to-transparent"
    >
    </div>

    <div class="title-content max-w-2xl flex flex-col justify-center p-10">
            <h1 class="text-6xl font-extrabold">
                Anthony Lombardi
            </h1>
            <h2>
                <strong
                    class="text-2xl font-bold text-rose-700"
                >
                    Father &#8226; Consultant &#8226; Mentor &#8226; FullStack
                    Engineer
                </strong>
            </h2>


            <div class="flex flex-wrap gap-4 mt-8 text-center">
                <a
                    class="block w-full px-12 py-3 text-sm font-medium text-white rounded shadow bg-rose-600 sm:w-auto active:bg-rose-500 hover:bg-rose-700 focus:outline-none focus:ring"
                    href="/blog"
                >
                    BLOG
                </a>

                <a
                    class="block w-full px-12 py-3 text-sm font-medium bg-white rounded shadow text-rose-600 sm:w-auto hover:text-rose-700 active:text-rose-500 focus:outline-none focus:ring"
                    href="/resume"
                >
                    RESUME
                </a>
            </div>
        </div>
</section>

<style>
    .title-content {
        position:absolute;
        top: 50vh;
        transform: translateY(-50%);
        left: 100px;
    }

</style>