---
import BaseWrapper from '../layouts/BaseWrapper.astro'
import BlogPostList from '../components/BlogPostList.astro'
import MySocials from '../components/MySocials'
import CTA from '../components/UI/CTA.astro'
import AgeCounter from '../components/AgeCounter'
import {AboutSection, ProjectSection} from '../components/Sections'
import {ContactForm} from '../components/ContactForm'
---

<style>
  section:last-of-type {
    margin-top: 2rem;
    margin-bottom: 16rem;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
  }

  .hover {
    @apply hover:text-gray-200;
  }

  .text-gradient {
    background: -webkit-linear-gradient(90deg, #a478e8 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<BaseWrapper>
  <main class="snap-y snap-mandatory h-screen overflow-y-scroll overflow-auto hide-scrollbar">
    <section id="hello" class="h-screen snap-start mx-auto px-4 sm:px-8 flex flex-col-reverse md:flex-row items-center">
      <!-- Text Section -->
      <div class="w-full md:w-1/2 flex flex-col justify-center">
        <div class="text-center md:text-left">
          <p class="text-base sm:text-2xl font-medium">Hey, I'm</p>
          <h1 class="text-3xl sm:text-3xl font-bold mt-2">Anthony Lombardi</h1>
          <h2 class="text-gradient text-2xl mt-1">&gt; Full-Stack Engineer</h2>
        </div>

        <div class="font-medium mt-6 space-y-1">
          <p class="comment">// personal data</p>

          <p>
            <span class="text-[#4D5BCE]">let </span>
            <span class="text-[#43D9AD]">age</span> =
            <span id="age" class="text-[#E99287] block pl-6 md:inline md:pl-0">
              <AgeCounter client:only="react" /></span
            >
          </p>

          <p>
            <span class="text-[#4D5BCE]">let </span>
            <span class="text-[#43D9AD]">location</span> =
            <span class="text-[#E99287] block pl-6 md:inline md:pl-0">"Westchester, New York"</span>
          </p>

          <MySocials />
        </div>

        <div class="mt-6">
          <CTA link="resume" />
        </div>
      </div>

      <!-- Avatar Section -->
      <div class="w-full md:w-1/2 flex justify-center md:justify-end items-center">
        <img src="/amoji_avatar.svg" alt="Avatar" class="max-w-[200px] sm:max-w-xs md:max-w-sm lg:max-w-md" />
      </div>
    </section>

    <AboutSection client:load />

    <section id="blog" class="h-screen snap-start flex flex-col items-center justify-center my-[12rem]">
      <h3 class="text-4xl font-medium">_blog</h3>
      <BlogPostList limit={3} />
      <a href="/blog" class="btn-primary text-2xl block py-16">See more blog posts</a>
    </section>

    <ContactForm client:only="react" />
  </main>
</BaseWrapper>
