---
import BaseWrapper from '../layouts/BaseWrapper.astro'
import {ProjectSection} from '../components/Sections'
---

<BaseWrapper>
  <main class="flex-1 h-screen my-[10rem] sm:px-8">
    <ProjectSection />
  </main>
</BaseWrapper>
