@import 'tailwindcss';
@import '@catppuccin/tailwindcss/macchiato.css';
@reference 'tailwindcss';

:root {
  --bg-primary: var(--catppuccin-color-base);
  --bg-secondary: var(--catppuccin-color-mantle);

  --text-primary: var(--color-ctp-text);
  --text-secondary: var(--color-ctp-green-500);
  --text-muted: var(--catppuccin-color-overlay1);
  --text-inverse: var(--color-white);

  --border: var(--color-ctp-surface0);

  --accent: var(--color-ctp-peach-500);
  --accent-strong: var(--color-ctp-mauve-500);
  --link-muted: #95aafb;
  --meta-muted: #7790a8;
  --card-bg: var(--color-ctp-mauve-base);

  --code-bg: #1e1e2e;
  --code-text: #f8f8f2;
  --overlay: rgb(0 0 0 / 50%);
}

[data-theme='dark'] {
  --bg-primary: var(--catppuccin-color-base);
  --bg-secondary: var(--catppuccin-color-mantle);

  --text-primary: var(--color-ctp-text);
  --text-secondary: var(--color-ctp-green-500);
  --text-muted: var(--catppuccin-color-overlay1);
  --text-inverse: var(--color-white);

  --border: var(--color-ctp-surface0);

  --accent: var(--color-ctp-peach-500);
  --accent-strong: var(--color-ctp-mauve-500);
  --link-muted: #95aafb;
  --meta-muted: #7790a8;
  --card-bg: var(--color-ctp-mauve-base);

  --code-bg: #1e1e2e;
  --code-text: #f8f8f2;
  --overlay: rgb(0 0 0 / 50%);
}

@import '../styles/base.css';
@import '../styles/utilities.css';
@import '../styles/article.css';
@import '../styles/comments.css';
@import '../styles/resume.css';
@import '../styles/mobile.css';
@import '../components/shared/languages/styles.css';

html {
  background: var(--bg-primary);
  color: var(--text-primary);
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}
