---
import { Icon } from 'astro-icon/components'
---

<div class='flex-1 flex justify-center items-center'>
  <div class='flex flex-wrap showcase gap-16 mt-12 justify-center'>
    <Icon name='logos:ruby' />
    <Icon name='logos:rails' />
    <Icon name='vscode-icons:file-type-html' />
    <Icon name='vscode-icons:file-type-css' />

    <Icon name='logos:javascript' />
    <Icon name='logos:typescript-icon' />
    <Icon name='logos:react' />
    <Icon name='vscode-icons:file-type-astro' />

    <Icon name='logos:nodejs-icon' />
    <Icon name='logos:postgresql' />
    <Icon name='logos:docker-icon' />
    <Icon name='logos:go' />

    <Icon name='ion:logo-github' class='text-azure' />
    <div class='hidden sm:block md:hidden lg:block'>
      <Icon name='emojione:taco' />
    </div>
    <Icon name='vscode-icons:file-type-vscode' />
    <Icon name='vscode-icons:file-type-tailwind' />
  </div>
</div>

<style>
  section {
    margin: 8rem 0;
  }

  @media screen and (min-width: 668px) {
    section {
      margin: 12rem 0;
    }
  }

  section:last-of-type {
    margin-top: 12rem;
    margin-bottom: 0;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
  }

  .showcase {
    max-width: calc(4 * 4rem + 3 * 4rem);
  }

  .showcase svg {
    width: 4rem;
    height: 4rem;
  }

  .hover {
    @apply hover:text-gray-200;
  }

  .text-gradient {
    background: -webkit-linear-gradient(90deg, #a478e8 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
