---

const routes =[{
  slug: '/',
  label: "Home"
}, {
  slug: '/resume',
  label: "Resume"
}]

---

<nav class="flex gap-4">
  {routes.map(r => <a href={r.slug} class="text-azure/50 hover:text-white transition-all">{r.label}</a>)}
</nav>