---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
export interface Props {
  title: string
  description: string
}

const {title, description} = Astro.props as Props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-slate-[rgb(36, 39, 58)]">
    <Header />
    <main class="max-w-screen-md ml-auto mr-auto p-4">
      <slot />
      <form name="contact" data-netlify="true" data-netlify-honeypot="bot-field" hidden>
        <input type="text" name="name" />
        <input type="email" name="email" />
        <textarea name="message"></textarea>
      </form>
    </main>
  </body>
</html>
