---
import Footer from '../components/Layouts/Footer'
import {Nav} from '../components/Layouts/Nav'
import Head from '../components/Layouts/Head.astro'
import Analytics from '../components/Analytics'
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="min-h-screen mx-[4rem] flex flex-col">
    <Nav client:only="react" />
    <main class="flex-1 h-screen">
      <slot />
      <Footer />
    </main>
    <Analytics client:only="react" />
  </body>
</html>
