---
import Footer from '../components/Layouts/Footer'
import Nav from '../components/Layouts/Nav.astro'
import Head from '../components/Layouts/Head.astro'
import Analytics from '../components/Analytics'
---

<!doctype html>
<html lang="en">
  <Head />
  <body class="min-h-screen mx-[4rem]">
    <Nav />
    <slot />
    <Footer />
    <Analytics client:only="react" />
  </body>
</html>
