---
const { link } = Astro.props
---

<div class="mt-10 text-center">
  <a href=`${link}` class="btnAzureGradiant">{link.toUpperCase()}</a>
</div>


<style>
  .btnAzureGradiant {
    @apply hover:text-white/75 text-white font-medium rounded-lg;
    @apply text-sm px-10 py-2.5 bg-gradient-to-r from-md-purple to-azure/75;
    @apply rounded shadow sm:w-auto focus:outline-none focus:ring;
    @apply hover:scale-110 transform transition;
  }
</style>
