---
const { link } = Astro.props
const GITHUB_URL = 'https://github.com/t0nylombardi'
---

<div class="mt-10 text-center">
  <a href=`${link}` class="btnAzureGradiant">{link.toUpperCase()}</a>
</div>


<style>

</style>
